<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mappers.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.entitys.Teacher" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="tage" property="tage" jdbcType="INTEGER" />
    <result column="coureName" property="courename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, tname, tage, coureName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.entitys.Teacher" >
    insert into teacher (tid, tname, tage, 
      coureName)
    values (#{tid,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR}, #{tage,jdbcType=INTEGER}, 
      #{courename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.entitys.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="tage != null" >
        tage,
      </if>
      <if test="courename != null" >
        coureName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tage != null" >
        #{tage,jdbcType=INTEGER},
      </if>
      <if test="courename != null" >
        #{courename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.entitys.Teacher" >
    update teacher
    <set >
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tage != null" >
        tage = #{tage,jdbcType=INTEGER},
      </if>
      <if test="courename != null" >
        coureName = #{courename,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.entitys.Teacher" >
    update teacher
    set tname = #{tname,jdbcType=VARCHAR},
      tage = #{tage,jdbcType=INTEGER},
      coureName = #{courename,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>